.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto
}
.image{
    width: 300px;
    height: 300px;
    flex: 1;
    max-width: 33%;
    padding: 15px;
}