.content {
    max-width: 500px;
    min-height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #feffff;
    &__footer{
      display: flex;
      justify-content: center;
      margin: 17px;
    }
}
  
  img{
    width: 369px;
    display: block;
    margin: auto;
    text-align: center;
    margin: 0;

  }

  .green-snackbar{
    background: rgb(31, 122, 31);
    color: white;
  }