.example-card {
    max-width: 400px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
  
  img{
    width: 369px;
    display: block;
    margin: auto;
    text-align: center;

  }